# This file is written by xdg-user-dirs-update
# If you want to change or add directories, just edit the line you're
# interested in. All local changes will be retained on the next run
# Format is XDG_xxx_DIR="$HOME/yyy", where yyy is a shell-escaped
# homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
# absolute path. No other format is supported.
# 
XDG_DESKTOP_DIR="$HOME/{{ xdg.desktop_dir }}"
XDG_DOWNLOAD_DIR="$HOME/{{ xdg.download_dir }}"
XDG_TEMPLATES_DIR="$HOME/{{ xdg.templates_dir }}"
XDG_PUBLICSHARE_DIR="$HOME/{{ xdg.publicshare_dir }}"
XDG_DOCUMENTS_DIR="$HOME/{{ xdg.documents_dir }}"
XDG_MUSIC_DIR="$HOME/{{ xdg.music_dir }}"
XDG_PICTURES_DIR="$HOME/{{ xdg.pictures_dir }}"
XDG_VIDEOS_DIR="$HOME/{{ xdg.videos_dir }}"
